.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
{
  padding-top:12px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  line-height:1.42857143;
  vertical-align:top;
  border-bottom:1px solid #DAD6CF}
.table>thead>tr>th{
  vertical-align:bottom;
  //border-bottom:2px solid red
}

td, th{
  padding:0px;
}

.tableHead{
  font-weight: bold;
  font-size: 13px;
}

#tableContainer{
  padding:0 10px;
}